---
openapi: 3.0.0
info:
  description: |
    ## Architecture

    There are two(three) APIs:

    - Transport API
    - Session API
    - Infrastructure API

    ### Components

    #### User Interface

    Provides a web interface to the user for inspecting discovered infrastructure information and managing session configurations.

    #### API Server

    Provides the endpoints for the Session and Infrastructure APIs

    #### Infrastructure Provisioner

    Fetches a compiled infrastructure configuration and applies/configures it to the physical infrastructure.

    ### Transport

    A pluggable transport for exchanging interface signals between infrastructure components such as digital real-time simulators or other laboratory equipment.

    ## Concepts

    ### Multiaddr

    Signals are identified my [Multiaddr](https://github.com/multiformats/multiaddr)'s.
    A multiaddr describes the signal in a unique way.

    Users reference signals using the presentation layer using symbolic names.

    The

    #### Examples

    - Presentation Layer: `/system/ireland_south_distribution/bus/123/signal/V1`
    - Session Layer: `/infrastructure/dtu/simulator/op5606/signal/`
    - Transport + Network Layer: `/dnsaddr/syslab.elektro.dtu.dk/tcp/1883/mqtt/`

  version: 1.0.0
  title: The ERIGrid 2.0 middleware API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: info@erigrid2.eu
    url: https://erigrid2.eu/contact/
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: https://erigrid2.eu/wp-content/uploads/2020/06/cropped-Logo_ERIGrid2_4C_highRes-01_.png
    backgroundColor: "#ffffff"
    href: https://erigrid2.eu
tags:
- name: configuration
  description: Configuration managment
- name: infrastructure
  description: Infrastructure discovery
paths:
  /configurations:
    $ref: paths/configurations.yaml
  '/config/{id}':
    $ref: 'paths/configuration@{id}.yaml'
  '/config/{id}/{infrastructure}':
    $ref: 'paths/configuration@{id}@{infrastructure}.yaml'
  /infrastructures:
    $ref: paths/infrastructures.yaml
  '/infrastructure/{infrastructure}':
    $ref: 'paths/infrastructure@{infrastructure}.yaml'
  '/infrastructure/{infrastructure}/signals':
    $ref: 'paths/infrastructure@{infrastructure}@signals.yaml'
  '/infrastructure/{infrastructure}/components':
    $ref: 'paths/infrastructure@{infrastructure}@components.yaml'
externalDocs:
  description: Find out more about ERIGrid 2.0
  url: 'https://erigrid2.eu'
servers:
- url: 'https://api.erigrid2.eu/v1'
- url: 'http://api.erigrid2.eu/v1'
